@charset "utf-8";

/* 아이콘 */
.icon-anchor {
  display: inline-block;
  width: 10px;
  height: 10px;

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 1px solid $icon-gray;
    border-right: 1px solid $icon-gray;
    transform: translateY(-50%) rotate(45deg);
  }
}

.icon-new {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: $blue;
  border-radius: 50%;
}

.icon-nodata {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../img/common/ico_nodata_01.png);
  background-size: 100%;
}

.icon-nodata2 {
  display: inline-block;
  width: 54px;
  height: 54px;
  background: url(../img/common/ico_nodata_02.png);
  background-size: 100%;
}
