@charset "utf-8";

/* 라벨 */
.label-t1 {
  padding: 0 10px;
  height: 24px;
  line-height: 23px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  color: $black;
  font-size: 12px;
  font-weight: $medium;
  box-sizing: border-box;
  text-align: center;
}
