@font-face {
  font-family: "LifeplusM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LIFEPLUS-Medium.eot");
  src: url("../fonts/LIFEPLUS-Medium.woff2") format("woff2"),
    url("../fonts/LIFEPLUS-Medium.woff") format("woff"),
    url("../fonts/LIFEPLUS-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "LifeplusB";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LIFEPLUS-Bold.eot");
  src: url("../fonts/LIFEPLUS-Bold.woff2") format("woff2"),
    url("../fonts/LIFEPLUS-Bold.woff") format("woff"),
    url("../fonts/LIFEPLUS-Bold.ttf") format("truetype");
}
