<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>items</title>
    <link rel="stylesheet" href="../css/guide.css" />
    <link rel="stylesheet" href="../../resources/css/common.css" />
    <script src="../../resources/js/library/jquery-3.4.1.min.js"></script>
    <script src="../../resources/js/library/jquery-ui.min.js"></script>
    <script src="../../resources/js/common.js"></script>
  </head>

  <body>
    <div class="guide-wrap">
      <nav class="guide-lnb">
        <ul>
          <li><a href="button.html">button</a></li>
          <li><a href="form.html">form</a></li>
          <li><a href="icon.html">icon</a></li>
          <li><a href="popup.html">popup</a></li>
          <li><a href="table.html">table</a></li>
          <li><a href="text.html">text</a></li>
        </ul>
      </nav>
      <section class="guide">
        <h1>Items</h1>
      </section>
    </div>
  </body>
</html>
