<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>한화생명 LIFEPLUS 마음건강</title>
    <!-- css파일 외 동일 -->
    <link rel="stylesheet" href="../../../resources/css/common_hr.css" />
    <script src="../../../resources/js/library/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/js/library/jquery-ui.min.js"></script>
    <script src="../../../resources/js/common.js"></script>
  </head>

  <body>
    <div class="admin-wrap">
      <header class="admin-header">
        <h1 class="logo">LIFEPLUS 마음건강</h1>
        <strong><span>회사명</span> Admin</strong>

        <div class="info">
          <span>김국민</span>
          <span>0000-00-00 00:00:00</span>
          <div class="btn-area">
            <a href="#" class="btn-type5 btn-bg3">정보수정</a>
            <a href="#" class="btn-type5 btn-bg5">로그아웃</a>
          </div>
        </div>
      </header>

      <nav class="admin-lnb">
        <div class="lnb-content">
          <strong>Menu</strong>
          <ul class="admin-menu">
            <!-- case1 ) 현재페이지가 1depth일 경우 a.active클래스 추가
              case2 ) 현재페이지가 2depth일 경우 1depth li.toggle, a.active, 2depth a.active 클래스 추가 -->
            <li>
              <a href="#">회원관리</a>
              <ul>
                <li><a href="#">회원조회</a></li>
              </ul>
            </li>
            <li class="toggle">
              <a href="#" class="active">통계관리</a>
              <ul>
                <li><a href="#" class="active">회원</a></li>
                <li><a href="#">만보기</a></li>
                <li><a href="#">감정캘린더</a></li>
                <li><a href="#">마음일기</a></li>
                <li><a href="#">클래스</a></li>
                <li><a href="#">루틴</a></li>
                <li><a href="#">진단</a></li>
                <li><a href="#">챌린지</a></li>
                <li><a href="#">취합보고서</a></li>
              </ul>
            </li>
            <li>
              <a href="#">공지/이벤트</a>
              <ul>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">이벤트</a></li>
              </ul>
            </li>
            <li>
              <a href="#">팝업관리</a>
            </li>
            <li>
              <a href="#">푸시관리</a>
            </li>
            <li>
              <a href="#">HR 관리자관리</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="admin-content">
        <div class="area-path">
          <ol>
            <li><a href="#">1depth</a></li>
            <li>2depth</li>
          </ol>
        </div>

        <h2 class="content-title">타이틀</h2>
      </div>

      <footer class="admin-footer">
        <p class="copyright">&copy;2021 HANWHALIFE. All Rights Reserved</p>
        <img src="../../../resources/img/common/img_logo.png" alt="한화생명" />
      </footer>
    </div>
  </body>
</html>
