<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>로딩</title>
    <script src="../../../resources/js/include.js"></script>
  </head>

  <body>
    <div class="admin-wrap">
      <header class="admin-header"></header>

      <nav class="admin-lnb"></nav>

      <div class="admin-content">
        <div class="area-path"></div>

        <h2 class="content-title">관리자관리</h2>
      </div>

      <footer class="admin-footer"></footer>
    </div>

    <!-- 로딩 마크업
    <div class="loading-wrap">
      <div class="loading"></div>
    </div>
     -->

    <script>
      //로딩시작
      loadingStart();

      //로딩멈춤
      // loadingStop();
    </script>
  </body>
</html>
